#infoBox{
    background-color: #fff;
    width: 540px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
}
#infoBox td{
    text-align: center;
    padding: 2px 5px;
}
.hasData{
    display: block;
}

.noData{
    display: none;
}

.structTitle{
    font-weight: bold;
    font-size: 12px;
    padding-right: 15px;
}

#tagContainer, #aliasContainer{
    margin-top: 5px;
}

.commonTitle{
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

#matchResult, #repeatResult{
    margin-top: 5px;
}

table th,td{
    padding: 2px 10px;
}

#handleCloseInfoBox{
    position: absolute;
    right: 5px;
    top: 2px;
}